@use '../abstracts' as *;

.btn {
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;

    &--carousel {
        align-items: center;
        aspect-ratio: 1;
        background: $black;
        display: inline-flex;
        padding: 1em;
        justify-content: center;
        width: 4.5em;

        @include for-tablet-portrait-up {
            width: 6em;
        }
    }
}
