@use '../abstracts/' as *;

.shop-now {
    display: inline-block;
    line-height: 1;

    &:hover {
        img {
            transition: transform 250ms ease-in-out;
            transform: translateX(100%);
        }
    }

    &:focus-visible {
        outline: $outline;
    }
}
