@use '../abstracts/' as *;

:root {
    font-size: 12px;
}

body {
    font-family: 'Spartan', sans-serif;
    line-height: 1.6;
}

h1 {
    color: $black;
    font-size: 2.5rem;
    font-size: clamp(2.25rem, 1.3125rem + 4.1667vw, 3.5rem);
    font-weight: 700;
    line-height: 1.1;
}

h2 {
    font-size: 1rem;
    font-size: clamp(1rem, 0.625rem + 1.25vw, 1.5rem);
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

p {
    color: $gray;
}

.shop-now {
    color: $black;
    font-weight: 600;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-size: clamp(1rem, 0.625rem + 1.25vw, 1.5rem);
}
