@use '../abstracts/' as *;

.main-header {
    *:focus-visible {
        outline: $outline;
    }

    .hero {
        background: url(../images/mobile-image-hero-1.jpg) no-repeat top / cover;
        padding: 4em 2em;
        position: relative;
        height: 70vw;

        .btns-selector {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: $black; //makes sure that there isn't a small line due the background
        }

        @include for-phone-only {
            .logo {
                margin: 0 auto;
                position: absolute;
                right: 0;
                left: 0;
            }
        }

        @include for-tablet-portrait-up {
            background: url(../images/desktop-image-hero-1.jpg) no-repeat top /
                cover;
            padding: 5em 4em;
            height: 55vw;
        }
    }

    @include for-tablet-landscape-up {
        display: grid;
        grid-template-columns: 60% auto;

        .hero {
            height: auto;
            background: url(../images/desktop-image-hero-1.jpg) no-repeat top
                left / cover;
            .btns-selector {
                transform: translate(100%, 0%);
            }
        }
    }
}
