@use '../abstracts/' as *;

.section {
    padding: 5em 2.25em;

    &--small {
        padding: 4em 2.25em;
    }

    .shop-now {
        display: inline-block;
        margin-top: 5rem;

        @include for-tablet-landscape-up {
            margin-top: 2rem;
        }
    }

    @include for-tablet-portrait-up {
        padding: 6em 4em;
    }

    @include for-tablet-landscape-up {
        padding: 9em 7em;

        &--small {
            padding: 5em 4em;
        }
    }
}
